*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
google-services.json
gh_token.txt
تطبيق_الجامعه.apk
_apk_tmp.zip
_logs.zip
scan/
تطبيقات وAPK/
صوتيات/
مختلف/